<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading" size="medium" variant="brand"></lightning-spinner>
    </template>
    <div class="margin-bottom-2rem">
      <lightning-card title="XLSX multi worksheet" icon-name="custom:custom14">
        <div class="slds-m-around_medium">
          <button onclick={download} class="btn success">Download</button>
          <!--xlsxMain component calling-->
          <c-xlsx-main
            header-list={xlsHeader}
            filename={filename}
            worksheet-name-list={workSheetNameList}
            sheet-data={xlsData}
          ></c-xlsx-main>
        </div>
        
      </lightning-card>
    </div>
  </template>